<div class="reading-stats">
  <h4>You now have a <%= @plan.reading_streak %> day reading streak!</h4>

  <h4>You are <%= @plan.percentage_complete %>% complete your reading plan.</h4>

  <h4>You have <%= @plan.days_remaining %> days to go.</h4>
</div>
