<% @readings.each do |reading| %>
  <h2><%= reading['display'] %></h2>
  <%=raw reading['text'] %>
<% end %>

<%= link_to 'Mark as Read', completed_readings_url(id: @plan.id, completed: @passages),
  style: "display: block; width: 130px; text-align: center; padding: 10px; background-color: #3F51B5; text-decoration: none; color: white; margin: 40px auto;" %>

<hr style='color: #ddd; border-style: solid; border-bottom: 0;'>

<%=raw  @readings.last['copyright'] %>
